<tui-root>
  <div class="container">
    <div class="container-head">
      <div class="control-container taiga-theme-1">
        <div class="control-wraprer">
          <app-text-search
            [placeHolder]="'Tìm kiếm sự kiện'"
            [cleaner]="true"
          ></app-text-search>
        </div>
        <div class="control-wraprer">
          <app-select
            [cleaner]="true"
            [(ngModel)]="search"
            [items]="items"
            [placeHolder]="'Trạng thái sự kiện'"
          ></app-select>
        </div>
        <div class="control-wraprer">
          <app-date-range
            [placeholder]="'Lọc theo ngày'"
            [formControl]="dayRange"
          ></app-date-range>
        </div>
        <div class="control-wraprer">
          <app-combobox

            [cleaner]="true"
            [placeholder]="'Chuyên mục'"
            [items]="items"
            [formControl]="article"
          ></app-combobox>
        </div>
      </div>
      <div class="action-container">
        <button (click)="submit()">
          <em class="las la-plus"></em>Tạo sự kiện
        </button>
      </div>
    </div>
  </div>
  <div><app-input [formControl]="input"></app-input></div>
  <div><app-date-time></app-date-time></div>
</tui-root>
